<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/" class="header-logo">ToDooo</a>
    </header>
    <div class="container">
        <div class="container-header">
            <h1>ToDoリスト作成</h1>
        </div>
        <div class="item-form-wrapper">
            <p class="form-label">やること</p>
            <form action="/create" method="post">
                <input name="itemName" type="text">
                <input type="submit" value="作成する">
            </form>
        </div>
        <a href="/index" class="cancel-button">もどる</a>
    </div>
</body>
</html>